In [8]:
import yfinance as yf

In [9]:
ticker = "BBDC4"
periodo ="5d"
ticker_obj = yf.Ticker(f"{ticker}.SA")

In [10]:
ticker_obj

yfinance.Ticker object <BBDC4.SA>

In [11]:
ticker_obj.history(period=periodo)

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2025-03-20 00:00:00-03:00,12.41,12.49,12.24,12.35,31369300,0.0,0.0
2025-03-21 00:00:00-03:00,12.38,12.59,12.36,12.52,74318800,0.0,0.0
2025-03-24 00:00:00-03:00,12.54,12.73,12.47,12.65,44562300,0.0,0.0
2025-03-25 00:00:00-03:00,12.70,13.29,12.65,12.86,63764400,0.0,0.0
2025-03-26 00:00:00-03:00,12.98,13.15,12.90,13.07,49039200,0.0,0.0

In [20]:
def retorna_cotacao(ticker, periodo="1mo"):
    ticker_obj = yf.Ticker(f"{ticker}.SA")
    hist = ticker_obj.history(period=periodo)["Close"]
    hist.index = hist.index.strftime("%y-%m-%d")
    hist = round(hist, 2)
    if len(hist) > 30:
        slice_size = int(len(hist) / 30)
        hist = hist.iloc[::-slice_size][::-1]
    return hist.to_json()

In [21]:
hist = retorna_cotacao("BBAS3", "1y")
hist

'{"24-03-28":26.04,"24-04-10":26.49,"24-04-22":25.19,"24-05-03":25.95,"24-05-15":25.43,"24-05-27":25.21,"24-06-07":25.0,"24-06-19":24.76,"24-07-01":24.84,"24-07-11":24.96,"24-07-23":25.43,"24-08-02":24.65,"24-08-14":26.32,"24-08-26":27.14,"24-09-05":28.02,"24-09-17":27.37,"24-09-27":26.28,"24-10-09":25.49,"24-10-21":25.67,"24-10-31":25.39,"24-11-12":25.02,"24-11-26":25.23,"24-12-06":24.3,"24-12-18":23.49,"25-01-03":23.49,"25-01-15":25.01,"25-01-27":27.42,"25-02-06":27.86,"25-02-18":29.14,"25-02-28":27.03,"25-03-14":27.88,"25-03-26":28.81}'